<h2>Crea tu cuenta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class=field>
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth, start_year: 1980, end_year: 2016 %>
  </div>

  <div><%= f.radio_button :is_female, '1' %> <%= f.label :is_female, "Femenino" %></div>
  <div><%= f.radio_button :is_female, '0' %> <%= f.label :is_female, "Masculino" %></div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Regístrate" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
