<!--<p id="notice"><%= notice %></p>-->
<div style="width:80%;margin:0 auto;">
  <h1>Listado de Productos</h1>

  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Categoría</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Descripción</th>
          <th class="text-center">Stock</th>
          <th class="text-center">Precio de compra</th>
          <th class="text-center">Precio de venta</th>
          <th class="text-center">Fecha de vencimiento</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.category ? product.category.nombre: 'Sin asignar' %></td>
            <td><%= product.nombre %></td>
            <td><%= product.descripcion %></td>
            <td><%= product.stock %></td>
            <td><%= product.precio_compra %></td>
            <td><%= product.precio_venta %></td>
            <td><%= product.fecha_vencimiento.strftime("%d-%b-%Y") %></td>
            <td><%= link_to 'Mostrar', product, class:"btn btn-default" %></td>
            <td><%= link_to 'Editar', edit_product_path(product), class:"btn btn-default" %></td>
            <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: '¿Está seguro?' }, class:"btn btn-default" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'Nuevo Producto', new_product_path, class: "btn btn-default" %>
</div>