<!--<p id="notice"><%= notice %></p>-->
<div style="width:80%;margin:0 auto;">
  <h1>Detalle de Producto</h1>
  
  <div class="table-responsive">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Categoría</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Descripción</th>
          <th class="text-center">Stock</th>
          <th class="text-center">Precio de compra</th>
          <th class="text-center">Precio de venta</th>
          <th class="text-center">Fecha de vencimiento</th>
          <th class="text-center">Imagen</th>
          <th class="text-center">Creado</th>
          <th class="text-center">Última vez editado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @product.id %></td>
          <td><%= @product.category ? @product.category.nombre: "Sin asignar" %></td>
          <td><%= @product.nombre %></td>
          <td><%= @product.descripcion %></td>
          <td><%= @product.stock %></td>
          <td><%= @product.precio_compra %></td>
          <td><%= @product.precio_venta %></td>
          <td><%= @product.fecha_vencimiento.strftime("%d-%b-%Y") %></td>
          <td><%= image_tag @product.avatar.url(:thumb) %></td>
          <td><%= @product.created_at.strftime("%d-%b-%Y") %></td>
          <td><%= @product.updated_at.strftime("%d-%b-%Y") %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'Editar', edit_product_path(@product) %> |
  <%= link_to 'Volver', products_path %>

</div>



