<!--<p id="notice"><%= notice %></p>-->
<div style="width:80%;margin:0 auto;">
  <h2>Detalle de Producto</h2>
  <p>
    <strong>Código:</strong>
    <%= @product.id %>
  </p>

  <p>
    <strong>Categoría:</strong>
    <%= @product.category ? @product.category.nombre : "Sin asignar" %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= @product.nombre %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= @product.descripcion %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= @product.stock %>
  </p>

  <p>
    <strong>Precio de compra:</strong>
    <%= @product.precio_compra %>
  </p>

  <p>
    <strong>Precio de venta:</strong>
    <%= @product.precio_venta %>
  </p>

  <p>
    <strong>Fecha de vencimiento:</strong>
    <%= @product.fecha_vencimiento.strftime("%d-%b-%Y") %>

  </p>

  <%= link_to 'Editar', edit_product_path(@product) %> |
  <%= link_to 'Volver', products_path %>
</div>